#page-section {
  position: relative;
  height: 80vh;
  z-index: 0;
  background-color: rgba(247, 248, 252, 0.8);
  .home-background-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -3;
  }

  .home-background-img-show {
    @extend .home-background-img;
    transition: opacity 2s ease-in-out;
    opacity: 1;
  }

  .home-background-img-hide {
    @extend .home-background-img;
    transition: opacity 2s ease-in-out;
    opacity: 0;
  }

  #blur-div {
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -2;
  }

  #search-panel-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    #search-panel {
      // position: static;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4vh;
      width: 600px;
      border-radius: 30px;
      font-size: large;
      border: 1px solid #dfe1e5;

      margin-bottom: 30px;

      &:hover {
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 0px 3px rgb(190, 188, 188);
      }

      input {
        border: none;
        outline: none;
        height: 3.8vh;
        width: 570px;
        border-radius: 30px;

        font-size: large;
        margin-left: 5px;
        padding-left: 6px;
      }
    }

    #buttons {
      display: flex;
      justify-content: space-evenly;
      width: 500px;

      button {
        font-family: arial, sans-serif;
        font-size: medium;
        border-radius: 5px;
        border: 1px solid rgba(153, 148, 148, 0);
        height: 40px;
        padding: 5px 20px 5px 20px;
        background-color: #f8f9fa;
        cursor: pointer;
      }

      button:hover {
        border: 1px solid #dadce0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #page-section {
    #search-panel-container {
      #search-panel {
        width: 400px;
        input {
          border: none;
          outline: none;
          height: 3vh;
          width: 380px;
          border-radius: 30px;
          font-size: large;
          margin-left: 5px;
          padding-left: 5px;
          padding-right: 20px;
        }
      }
    }
  }
}
