.trailer-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;

  .blur-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  }

  iframe {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: xx-large;
    animation: fading 2s;
  }
  p {
    position: relative;
    left: 50%;
    top: 50%;
    width: fit-content;
    transform: translateX(-50%) translateY(-50%);
    font-size: xx-large;
    animation: fading 2s;
  }
  animation: fading 1s;
}

@keyframes fading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
